/*
-------------------------------------------------------------------------------
    INIT LOAD FONTS
-------------------------------------------------------------------------------
*/
@font-face {
font-family: Funtasia-axYAa;
src: url('../fonts/Funtasia-axYAa.ttf');
}

@font-face {
font-family: DragonwickBold-vmBZ;
src: url('../fonts/DragonwickBold-vmBZ.ttf');
}

@font-face {
font-family: DragonwickRegular-lgXV;
src: url('../fonts/DragonwickRegular-lgXV.ttf');
}

@font-face {
font-family: Roboto-Bold;
src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
font-family: RobotoCondensed-LightItalic;
src: url('../fonts/RobotoCondensed-LightItalic.ttf');
}
/*
-------------------------------------------------------------------------------
    END LOAD FONTS
-------------------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------------------
    INIT BOTONES
-------------------------------------------------------------------------------
*/




.addgasto_button{
    height: 24px;
    border-radius: 4px;
    outline: none;
    border: 2px solid #000000;
    background: #708238;
    margin-left: 5px;
    margin-top: 3px;
    padding-right: 6px;
    padding-left: 6px;
    color: #000000;
}

.addgasto_button:hover{
    background: #397D02;
    color: #000000;
}

/*
-------------------------------------------------------------------------------
    END BOTONES
-------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------
        INIT ELEMENTOS WEB CINE ELEMENTOS PROPIOS
-------------------------------------------------------------------------------
*/

.main-content{
    height: 100%;
}

#genre_espa {
    margin-right: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
    float: left; 
    height: 48px;
}

#genre_west {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
    height: 48px;   
}

#genre_poli {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
    height: 48px;   
}

#genre_aven {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
    height: 48px;   
}

#genre_drama {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
    height: 48px;   
}

.tab_genre_focus{
    border: 2px solid #B0B0B0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;  
    border-bottom-color: transparent;
    background-color: #556b2f;  

    font-family: Funtasia-axYAa;
    font-size : 18px;
    text-shadow: 1px 1px #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px; 
    white-space:nowrap;
    padding-left: 15px;
    padding-right: 15px;
}

.tab_genre_normal{
    border: 2px solid #F0F0F0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;  
    border-bottom-color: transparent;
    background-color: #768858; 
    border-bottom-color: #B0B0B0; 
    font-family: Funtasia-axYAa;
    font-size : 18px;
    text-shadow: 1px 1px #ffffff;
    text-transform: uppercase;
    text-align: center;
    color: #282828;
    line-height: 30px;
    white-space:nowrap;
    padding-left: 15px;
    padding-right: 15px;
}

#exit_cine3 {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#exit_cine4 {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#exit_cine5 {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.arrow-nav-right > img{
    width: 60px;
    height: 60px;
}

.arrow-nav-left > img{
    width: 60px;
    height: 60px;
}

.bm_header{
    background-color: unset;
    height: 60px;
    width: 100%;
    border: 1px solid white;
    display: flex;
}

.cine-sub-header div{
    display: inline-block;
    float:right;    
}

.specific_content{
    height: 79%;
    background-color: #556b2f;
    padding-top: 5%;
    padding-left: 2%;
   
}

.specific_content_list{
    height: 100%;
    background-color: #556b2f;
    padding-top: 3%;
}

.box_film_content{
    margin-right: 10%;
    margin-left: 10%;
    height: 80%;
    width: 60%;
    background-color: navajowhite;
    border-radius: 20px;
    border: 20px solid #f4a742;
    display: flex;
    box-shadow: 5px 5px 30px 20px black;
}

.film_cover_box {
    width: 50%;
}

.film_cover_box > img{
    width: 100%;
    height: 100%;
}

.film_text_box {
    width: 50%;
    height: 100%;
    position:relative;
}

.film_text_box > video{
    position:absolute;
    bottom:1px;
    background-color: black;
}

.film_text_box > iframe{
    position:absolute;
    bottom:1px;
    background-color: black;
}

.film_text_box > img{
    width: 100%;
    height: 40%;
    position:absolute;
    bottom:1px;
}

#play_overlay_img{
    z-index: 1;
}

.arrow-nav-left{
    cursor: pointer; 
    height: 5%;
}

.arrow-nav-right{
    cursor: pointer;
    width: 5%;
    height: 5%;
}

.film_text_info_box{
    
}

.label-title{
    font-family: Funtasia-axYAa;
    font-size : 24px;
    color: brown;
}

.label-text{
    font-family: RobotoCondensed-LightItalic;
    font-size : 16px;
    font-weight: bold;
}

.label-director{
    font-family: RobotoCondensed-LightItalic;
    font-size : 14px;
    font-weight: normal;
    font-style: italic;
}

.label-reparto{
    font-family: RobotoCondensed-LightItalic;
    font-size : 14px;
    font-weight: normal;
    font-style: italic;
}

 .label-year{
    font-family: Roboto-Bold;
    font-size: 12px;
  }

.mod-text{
    font-family: "Times New Roman", Times, serif;
    font-size : 12px;
    font-weight: normal;
    height: 23px;
    float: right;

}

.label-collapsible{
    font-family: Funtasia-axYAa;
    font-size : 14px;
    text-transform: uppercase;
    
}

.label-text-data-graphic{
    font-family: Funtasia-axYAa;
    font-size : 14px;
    font-style: normal;
    text-shadow: 1px 1px #ffffff;
    line-height: 20px;
}

.floating_acciones{
    position: absolute;
    top: -17px;
    background-color: white;
    z-index: 3;
    border-radius: 20px;
    border: 20px solid #f4a742;
    display: flow-root;
    height: 99%;
}

.admin_films_bt{
    order: 2;
    font-family: Arial Narrow, sans-serif;
    margin-right: 15px;
    height: 20px;
    background-color: #8A8A8A;
    border:2px solid black;
    border-radius: 6px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 14px;
    cursor: pointer;
    
}

.admin_films_bt:hover{

    background-color: #CDCDCD;

}

.ok_bt_fake{
    font-family: Arial Narrow, sans-serif;
    margin-right: 15px;
    height: 20px;
    background-color: #8A8A8A;
    border:2px solid black;
    border-radius: 6px;
    padding-left: 4px;
    margin-top: 14px;
    cursor: pointer;
    width: 25px;
    margin-left: 43%;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 1000;
}

.ok_bt_fake:hover{

    background-color: #CDCDCD;

}

#window_pass{
    position: absolute;
    margin-top: 30%;
    margin-left:40%;
    display: none;
    background-color: white;
    border-radius: 8px;
    border: 8px solid #f4a742;
    z-index: 1;
}

.admin_actions{
    display: none;
}

.videotube{
    width: 100%; 
    height: 40%;
}


#arrow_before1{
    visibility: hidden;
}

#preloader{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: red;
    opacity: 0.4;
    z-index: 3;
   
}

#preloader > img{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
   

   
}

.retro_label{
    font-family: Arial;
font-size: 16px;
color: darkslategrey;
font-style: italic;
margin-top: 23px;
float: right;
margin-right: 40%;
font-weight: bold;
}

.home_block{
    background-color: #556b2f;
    margin-top: 1px;
    display: list-item;

}

.home_block_mix{
    background-color: #556b2f;
    margin-top: 1px;
    display: flex;
    padding-bottom: 80px;
}

#icon-home{
    margin-left: 20px;
    padding-top: 10px;
    cursor: pointer;
    display: inline-flex;
}


.icon-plus{
    margin-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.icon-minus{
    display: none;
    margin-left: 10;
    padding-top: 10px;
    cursor: pointer;    
}

#icon-candado{
    padding-top: 20px;
    margin-left: 15px;
    cursor: pointer;    
    display: inline-flex;
}

#icon-list{
    padding-top: 10px;
    margin-left: 15px;
    cursor: pointer;  
    display: inline-flex;
}

#icon-stats{
    padding-top: 20px;
    margin-left: 15px;
    cursor: pointer;  
    display: inline-flex;
}

#icon-admin{
    padding-top: 20px;
    margin-left: 15px;
    cursor: pointer;  
    display: inline-flex;
}

#icon-add-film{
    padding-top: 20px;
    margin-left: 15px;
    cursor: pointer;  
    display: inline-flex;    
}

#search_input_id{
    border-radius: 4px;
    height: 23px; 
    width: 200px;
}

/*
-------------------------------------------------------------------------------
        END ELEMENTOS WEB CINE ELEMENTOS PROPIOS
-------------------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------------------
        INIT SEARCH SECTION
-------------------------------------------------------------------------------
*/

.search_films_bt{
    margin-left: auto;
    order: 2;
    font-family: Arial Narrow, sans-serif;
    margin-right: 15px;
    height: 20px;
    background-color: #8A8A8A;
    border-radius: 6px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 14px;
    cursor: pointer;
    
}

.search_films_bt:hover{

    background-color: #CDCDCD;

}

.label_bar_big_list{
    border: 1px solid #969696;
    margin-right: 15px;
    border-top-color: transparent;
    padding-left: 5px;
    padding-top: 15px; 
    
}

.t_col{
    color: #000000;
    line-height: 14px;
    font-size: 12px;
    font-family: Arial;

}

.t_col_bold{
    color: #000000;
    line-height: 12px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;

}

.bar_col_1{
    width: 200px;
}


.bar_col_2{
    width: 190px;
}


.bar_col_3{
    width: 238px;
}

.content_bar_row_alternate{
    border: 1px solid #dddddd;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    margin-right: 5px;

}

.text-data-list{
    font-family: Arial;
    font-size : 12px;
    font-weight: normal;
    height: 24px;

}

.list_content{
    border: 20px solid #f4a742;
    border-radius: 20px;
    background-color: #d0d0d0;
    width: 80%;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 10%;
    position: absolute;
    box-shadow: 5px 5px 30px 20px black;
    margin-top: 2%;
    
    
}

.list_content_mix{
    border: 20px solid #f4a742;
    border-radius: 20px;
    background-color: navajowhite;
    width: 80%;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 10%;
    position: relative;
    box-shadow: 5px 5px 30px 20px black;
    
    
}


.header_list{
    position: absolute;
    height: 30px;
    width: 100%;
    margin-bottom: 2px;  
    background-color: darkseagreen;
    border-bottom: 2px solid aquamarine;   
}

.data_list{
    height: 400px;
    overflow-x: hidden;   
}

.alternate_row_list:nth-child(odd) {
  background: antiquewhite;
}

.alternate_row_list:nth-child(even) {
  background: #d0d0d0;
}

.action_data_list{
    display: inline-block; 
    width: 150px;
    height: 12px;
    padding-top: 7px;
}
.bm_header_noflex{
    background-color: sienna;
    height: 60px;
    width: 100%;
    border: 1px solid white;
}    

.rotulo_top{
    font-family: Roboto-Bold;
    font-size : 24px;
    font-weight: bold;
    margin-right: 30px;    
}

.rotulo_mid{
    font-family: Roboto-Bold;
    font-size : 16px;
    font-weight: bold;
    margin-left: 5%;    
}

.rotulo_mid_no_mg{
    font-family: Roboto-Bold;
    font-size : 16px;
    font-weight: bold;
}

#sort_col_head_0:hover{
    background-color: darkkhaki;

}
#sort_col_head_1:hover{
    background-color: darkkhaki;

}
#sort_col_head_2:hover{
    background-color: darkkhaki;

}
#sort_col_head_3:hover{
    background-color: darkkhaki;

}
#sort_col_head_4:hover{
    background-color: darkkhaki;

}

.sort_col_list_3{
    display: inline-block;
  }
.sort_col_list_4{
    display: none;
}


/*
-------------------------------------------------------------------------------
        END SEARCH SECTION
-------------------------------------------------------------------------------
*/

@media only screen and (min-width:450px) and (max-width:900px) {
    .tab_genre_focus{
        font-size: 12px;
        padding-left:4px;
        padding-right: 4px;
    }
    .tab_genre_normal{
        font-size: 12px;
        padding-left:4px;
        padding-right: 4px;    
    }
    #genre_espa {
        margin-right: 4px;
        margin-left: 25px; 
        margin-top: 18px;
        height: 40px;
    }

    #genre_west {
        margin-right: 4px;
        height: 40px;  
        margin-top: 18px;
    }

    #genre_poli {
        margin-right: 4px;
        height: 40px;     
        margin-top: 18px;    
    }

    #genre_aven {
        margin-right: 4px;
        height: 40px;      
        margin-top: 18px;    
    }

    #genre_drama {
        margin-right: 4px;
        height: 40px;   
        margin-top: 18px;
    }
    .label-title{
        font-size: 16px;
    }
    .label-year{
        font-size: 12px;
    }  
    .label-text{
        display:none;
    }
    .label-director{
        display:none;
    }   
    .label-reparto{
        display:none;
    }     

    .film_text_box > img{
        height: 50%;
    }
    .videotube{
        height: 50%;
    } 
    .box_film_content{
        height: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .t_col_bold{
        color: #000000;
        line-height: 12px;
        font-size: 12px;
        font-family: Arial;
        font-weight: bold;

    }     
    .text-data-list{
        font-family: Arial;
        font-size : 10px;
        font-weight: normal;
        height: 20px;

    }

    #sort_col_head_1{
        display: none!important;
    } 
    .sort_col_list_1{
        display: none!important;
    }
    #sort_col_head_2{
        display: none!important;
    } 
    .sort_col_list_2{
        display: none!important;
    }  
   
}


@media only screen and (min-width:100px) and (max-width:450px) {

    .tab_genre_focus{
        font-size: 10px;
        white-space: normal;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 15px;
        padding-top: 10px
    }
    .tab_genre_normal{
        font-size: 10px;
        white-space: normal;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 15px;
        padding-top: 10px
    }

    #genre_espa {
        margin-right: 4px;
        margin-left: 25px; 
        margin-top: 20px;
        height: 28px;
    }

    #genre_west {
        margin-right: 4px;
        height: 28px;  
        margin-top: 20px;
    }

    #genre_poli {
        margin-right: 4px;
        height: 28px;     
        margin-top: 20px;    
    }

    #genre_aven {
        margin-right: 4px;
        height: 28px;      
        margin-top: 20px;    
    }

    #genre_drama {
        margin-right: 4px;
        height: 28px;   
        margin-top: 20px;
    }  
    .label-title{
        font-size: 14px;
    }
    .label-year{
        font-size: 10px;
    }  
    .label-text{
        display:none;
    }
    .label-director{
        display:none;
    }   
    .label-reparto{
        display:none;
    }   
 
    .film_text_box > img{
        height: 50%;
    }
    .videotube{
        height: 50%;
    } 
    .box_film_content{
        height: 40%;
        margin-left: 1%;
        margin-right: 2%;
    }    

    .t_col_bold{
        color: #000000;
        line-height: 10px;
        font-size: 8px;
        font-family: Arial;
        font-weight: bold;

    }  

    .text-data-list{
        font-family: Arial;
        font-size : 8px;
        font-weight: normal;
        height: 16px;

    } 

    #sort_col_head_1{
        display: none!important;
    } 
    .sort_col_list_1{
        display: none!important;
    }
    #sort_col_head_2{
        display: none!important;
    } 
    .sort_col_list_2{
        display: none!important;
    }  
    #sort_col_head_3{
        display: none!important;
    } 
    .sort_col_list_3{
        display: none!important;
    }    
    
}